.text-input {
	border: 1px solid #cacccd;
	height: 50px;
	padding: $s-size;
	font-size: $fsize-l;
	font-weight: 300;
}

.select {
	@extend .text-input;
	border-radius: 0;
	background-color: transparent;
}

.textarea {
	@extend .text-input;
	height: 10rem;
}
